/*
+----------------------------------------------------------------+
	Reset CSS					
+----------------------------------------------------------------+
*/
body,div,dl,dt,dd,ul,ol,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,p,blockquote,th,td,address {margin:0; padding:0}
table {border-collapse:collapse; border-spacing:0; font-size:inherit}
fieldset, img {border:0}
a {margin:0; padding:0; text-decoration:none}

/*
+----------------------------------------------------------------+
	Extras														
+----------------------------------------------------------------+
*/
.alignleft {float:left}
.alignright {float:right}
.clearfix:before, .clearfix:after {content:"\0020"; display:block; height:0; visibility:hidden}
.clearfix:after {clear:both}
.clearfix {zoom:1}
.clear {clear:both}

/*
+----------------------------------------------------------------+
	Definicoes Gerais														
+----------------------------------------------------------------+
*/
body {background:#e3e3e3 url(../img/background.png) no-repeat center top; font:62.5% Verdana, Geneva, sans-serif}

/*
+----------------------------------------------------------------+
	Title														
+----------------------------------------------------------------+
*/
h1, p {color:#545454; font-size:2.9em; margin-bottom:20px; text-align:center}
p {font-size:2em}

/*
+----------------------------------------------------------------+
	Container														
+----------------------------------------------------------------+
*/
#container {margin:30px auto; width:600px}

/*
+----------------------------------------------------------------+
	Buttons														
+----------------------------------------------------------------+
*/
.social {margin:0 auto 10px; width:220px}
.social > div {float:left; margin-right:15px}